.github
.mise-tasks
.zed
apps/client
apps/freedit
apps/server/api/test/
apps/server/db/migrations
apps/server/db/src/generated.rs
apps/server/db/README.md
bun.lockb
bunfig.toml
fly*
node_modules
**/node_modules
package.json
README.md
supabase
target
yarn.lock
.git
**/dist
**/.next
**/.turbo
