.branches
.temp
.env*
.DS_Store
.tasks.md
.zed

apps/server/db/src/generated.rs
apps/freedit/config.toml
apps/freedit/freedit.db
apps/freedit/tantivy
apps/freedit/snapshots
apps/freedit/static/imgs
# cannot be transferred between devices/OSes, needs to be regenerated
apps/server/infra/prisma.rs
biome.json
bun.lockb
dist
mise.local.toml
node_modules
Pulumi.dev.yaml
target
*.tsbuildinfo
yarn.lock
